/* .coupons {
    background-color: #ffcc00;
    color: #333;
    font-weight: bold;
    font-style: italic;
    height: 150px !important;
} */
.active {
    background-color: #1990C6; /* Màu nền */
    color: white; /* Màu văn bản */
    border-color: #1990C6; /* Màu viền */
  }