.hl {
    color: #fff;
    position: relative;
    font-weight: 700;
    background: #ff7600 !important;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}