@media (min-width: 740px) and (max-width: 1023px){ 
    h2.lm {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
    div.content3 {
        display: flex;
        margin-top: 30px;
        margin-left: 38px;
    }
    p.np {
        font-weight: 600;
        font-size: 24px;
    }
    p.og {
        font-size: 18px;
        width: 300px;
        height: auto;
    }
    div.pack1 {
        margin-left: -31px;
    }
    div.pack2 {
        margin-left: -502px;
        margin-top: 161px;
    }
    p.tp {
        font-weight: 600;
        margin-left: 576px;
        font-size: 24px;
        margin-top: -161px;
    }
    p.ds {
        font-size: 18px;
        width: 300px;
        margin-left: 576px;
        height: auto;
    }
    div.content4 {
        display: flex;
        margin-top: 30px;
    }
    p.td {
        font-weight: 600;
        font-size: 24px;
        margin-left: -67px;
    }
    p.sp {
        font-size: 18px;
        width: 300px;
        margin-left: -65px;
        height: auto;
    }
    div.pack3 {
        margin-left: 76px;
    }
    div.pack4 {
        margin-left: 173px;
    }
    p.ls {
        font-weight: 600;
        margin-left: -100px;
        font-size: 24px;
    }
    p.jh {
        font-size: 18px;
        width: 300px;
        margin-left: -97px;
        height: auto;
    }
    h2.sm {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
    h3.services {
        text-align: center;
        margin-top: 20px;
    }
    div.box1 {
        background-color: #fff;
        padding: 21px;
        width: 300px;
        text-align: center;
        margin: 16px;
        height: 208px;
    }
    div.box2 {
        background-color: #fff;
        padding: 21px;
        width: 44%;
        text-align: center;
        margin: 16px;
        height: 207px;
        margin-left: 45px;
    }
    div.box3 {
        background-color: #fff;
        padding: 21px;
        width: 43%;
        text-align: center;
        margin: 16px;
        height: 200px;
        margin-top: 260px;
        margin-left: -682px;
    }
    div.box4 {
        background-color: #fff;
        padding: 21px;
        width: 44%;
        text-align: center;
        margin: 16px;
        margin-top: 260px;
        margin-left: 46px;
        height: 200px;
    }
    p.boxa {
        font-size: 20px;
        font-weight: 600;
        width: 260px;
    }
    p.boxb {
        font-size: 16px;
        font-weight: 400;
        width: 243px;
    }
    p.boxc {
        font-size: 20px;
        font-weight: 600;
        width: 256px;
    }
    p.boxd {
        font-size: 16px;
        font-weight: 400;
    }
    p.boxe {
        font-size: 20px;
        font-weight: 600;
    }
    p.boxf {
        font-size: 16px;
        font-weight: 400;
    }
    p.boxg {
        font-size: 20px;
        font-weight: 600;
    }
    p.boxh {
        font-size: 16px;
        font-weight: 400;
    }
    div.content5 {
        display: flex;
        margin-top: 30px;
    }
    p.pk {
        font-weight: 600;
        font-size: 24px;
        width: 300px;
        margin-left: -61px;
    }
    p.sd {
        font-size: 18px;
        width: 500px;
        margin-left: -61px;
        width: 300px;
        height: auto;
    }
    div.pack5 {
        margin-left: 76px;
    }
    div.pack6 {
        margin-left: 173px;
    }
    p.up {
        font-weight: 600;
        font-size: 24px;
        margin-left: -92px;
        width: 300px;
    }
    p.wt {
        font-size: 18px;
        width: 300px;
        margin-left: -91px;
        height: auto;
    }

    div.content6 {
        display: flex;
        margin-top: 30px;
    }
    p.ou {
        font-weight: 600;
        font-size: 24px;
        margin-left: -59px;
        width: 300px;
    }
    p.gt {
        font-size: 18px;
        width: 300px;
        margin-left: -58px;
        height: auto;
    }
    div.pack7 {
        margin-left: 76px;
    }
    div.pack8 {
        margin-left: 173px;
    }
    p.hc {
        font-weight: 600;
        font-size: 24px;
        margin-left: -92px;
        width: 300px;
    }
    p.fd {
        font-size: 18px;
        width: 300px;
        margin-left: -92px;
        height: auto;
    }
    div.content7 {
        display: flex;
        margin-top: 30px;
    }
    p.mb {
        font-weight: 600;
        font-size: 24px;
        margin-left: -56px;
        width: 300px;
    }
    p.kf {
        font-size: 18px;
        width: 300px;
        margin-left: -55px;
        height: auto;
    }
    div.pack9 {
        margin-left: 76px;
        margin-right: -90px;
    }
    div.pack10 {
        margin-left: 173px;
    }
    p.gp {
        font-weight: 600;
        font-size: 24px;
        margin-left: -2px;
        width: 300px;
    }
    p.gs {
        font-size: 18px;
        width: 300px;
        margin-left: -3px;
        height: auto;
    }
}

@media (max-width: 739px){ 
    h2.lm {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
    div.content3 {
        margin-top: 30px;
        margin-left: 38px;
    }
    p.np {
        font-weight: 600;
        margin-left: 8px;
        font-size: 24px;
    }
    p.og {
        font-size: 18px;
        width: 300px;
        height: auto;
        margin-left: 8px;
    }
    div.pack1 {
        margin-left: -31px;
    }
    div.pack2 {
        margin-left: -502px;
        margin-top: 161px;
    }
    p.tp {
        font-weight: 600;
        margin-left: 201px;
        margin-top: 26px;
        font-size: 24px;
    }
    p.ds {
        font-size: 18px;
        width: 300px;
        margin-left: 201px;
        margin-top: 20px;
        height: auto;
    }
    div.content4 {
        margin-top: 30px;
    }
    p.td {
        font-weight: 600;
        margin-left: -64px;
        margin-top: -24px;
        font-size: 24px;
    }
    p.sp {
        font-size: 18px;
        width: 300px;
        margin-left: -62px;
        margin-top: 20px;
        height: auto;
    }
    div.pack3 {
        margin-left: 76px;
    }
    div.pack4 {
        margin-left: 173px;
    }
    p.ls {
        font-weight: 600;
        margin-left: -471px;
        margin-top: 161px;
        font-size: 24px;
    }
    p.jh {
        font-size: 18px;
        width: 300px;
        margin-left: -471px;
        margin-top: 20px;
        height: auto;
    }
    h2.sm {
        margin-top: 30px;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
    }
    h3.services {
        text-align: center;
        margin-top: 20px;
    }
    div.box1 {
        background-color: #fff;
        padding: 21px;
        width: 300px;
        text-align: center;
        margin: 16px;
        height: 208px;
        margin-left: 26px;
    }
    div.box2 {
        background-color: #fff;
        padding: 21px;
        width: 90%;
        text-align: center;
        margin: 16px;
        height: 207px;
        margin-left: -317px;
        margin-top: 240px;
    }
    div.box3 {
        background-color: #fff;
        padding: 21px;
        width: 143%;
        text-align: center;
        margin: 16px;
        height: 200px;
        margin-top: 460px;
        margin-left: -313px;
    }
    div.box4 {
        background-color: #fff;
        padding: 21px;
        width: 143%;
        text-align: center;
        margin: 16px;
        height: 200px;
        margin-top: 675px;
        margin-left: -313px;
    }
    p.boxa {
        font-size: 20px;
        font-weight: 600;
        width: 260px;
    }
    p.boxb {
        font-size: 16px;
        font-weight: 400;
        width: 243px;
    }
    p.boxc {
        font-size: 20px;
        font-weight: 600;
        width: 256px;
    }
    p.boxd {
        font-size: 16px;
        font-weight: 400;
    }
    p.boxe {
        font-size: 20px;
        font-weight: 600;
        width: 256px;
    }
    p.boxf {
        font-size: 16px;
        font-weight: 400;
    }
    p.boxg {
        font-size: 20px;
        font-weight: 600;
        width: 256px;
    }
    p.boxh {
        font-size: 16px;
        font-weight: 400;
    }
    div.content5 {
        margin-top: 30px;
    }
    p.pk {
        font-weight: 600;
        font-size: 24px;
        width: 300px;
        margin-left: -61px;
    }
    p.sd {
        font-size: 18px;
        margin-left: -61px;
        width: 300px;
        height: auto;
    }
    div.pack5 {
        margin-left: 76px;
    }
    div.pack6 {
        margin-left: 173px;
    }
    p.up {
        font-weight: 600;
        font-size: 24px;
        margin-top: 300px;
        margin-left: -474px;
        width: 300px;
    }
    p.wt {
        font-size: 18px;
        width: 300px;
        margin-left: -471px;
        height: auto;
    }
    div.content6 {
        margin-top: 30px;
    }
    p.ou {
        font-weight: 600;
        font-size: 24px;
        margin-left: -59px;
        margin-top: -19px;
        width: 300px;
    }
    p.gt {
        font-size: 18px;
        width: 300px;
        margin-left: -58px;
        height: auto;
    }
    div.pack7 {
        margin-left: 76px;
    }
    div.pack8 {
        margin-left: 173px;
    }
    p.hc {
        font-weight: 600;
        font-size: 24px;
        margin-top: 195px;
        margin-left: -474px;
        width: 300px;
    }
    p.fd {
        font-size: 18px;
        width: 300px;
        margin-left: -473px;
        height: auto;
    }
    div.content7 {
        margin-top: 30px;
    }
    p.mb {
        font-weight: 600;
        font-size: 24px;
        margin-left: -56px;
        width: 300px;
        margin-top: -16px;
    }
    p.kf {
        font-size: 18px;
        width: 300px;
        margin-left: -55px;
        height: auto;
    }
    div.pack9 {
        margin-left: 76px;
        margin-right: -90px;
    }
    div.pack10 {
        margin-left: 173px;
    }
    p.gp {
        font-weight: 600;
        font-size: 24px;
        margin-top: 284px;
        margin-left: -383px;
        width: 300px;
    }
    p.gs {
        font-size: 18px;
        width: 300px;
        margin-left: -383px;
        height: auto;
    }
}