.order1 {
    background: #fff;
    height: 520px;
}

div.mp {
    margin-left: 507px;
    margin-right: 70px;
    background-color: #f3f3f3;
    height: 260px;
}

.qw {
    margin-top: -250px;
    margin-left: 80px;
    font-size: 20px;
}